html , body , #app , .window {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.window {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.window-body {
  height: 0;
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.window > .bottom {
  justify-content: flex-end;
  padding: 8px;
  display: flex;
  flex-direction: row;
}

/* make tab auto sized */
pre {
  color: #fff;
  box-sizing: border-box;
}
div[role="toolbar"] {
  height: 100%;
  display: flex;
  flex-direction: column;
}
div[role="tablist"] {
  flex: none;
}
div[role="tabpanel"] {
  height: 0;
  flex: auto;
}
div[role="tabpanel"] > div {
  height: 100%;
}
